<div class="col-md-8" ng-controller="RepositoryController">
    <h2>{{reposOrigName}}</span></h2>

    <div class="row">
        <div class="col-md-8">
            <button type="button" class="btn btn-default" ng-click="delete()">Delete</button>
            <button type="button" class="btn btn-default" ng-disabled="!saveAllowed()" ng-click="update()">Save</button>
            <button type="button" class="btn btn-default" ng-disabled="!cancelAllowed()" ng-click="cancel()">Cancel</button>
        </div>
    </div>
    <br>

    <form role="form" name="form">
        <div class="form-group">
            <label for="name">Name:</label>
        <!--    <input type="text" class="form-control" id="name" placeholder="add name" ng-model="repository.name"> -->
            <!--<input type="text" class="form-control" id="name" placeholder="add name" ng-model="repository.name"> -->
            <input type="text" class="form-control" id="name" placeholder="add name" ng-model="repository.name">
        </div>
        <div class="form-group">
            <label for="path">Path:</label>
            <input type="text" class="form-control" id="path" placeholder="add path" ng-model="repository.path">
        </div>
        <div class="checkbox">
            <label><input type="checkbox" ng-model="repository.autoCommit" ng-init="repository.autoCommit != null ? repository.autoCommit : repository.autoCommit=false"> Auto-commit</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" ng-model="repository.autoSync" ng-init="repository.autoSync != null ? repository.autoSync : repository.autoSync=false"> Auto-sync</label>
        </div>
        <!-- debugging stuff -->
        <!--<p>dirty = {{formModified()}}</p> -->
        <!-- <p>currentRepos = {{currentRepos()}}</p> -->
    </form>
</div>